<h1>Here is my dope about page.</h1>
<ul>
  <li>
    <%= link_to "Articles Listing", articles_path(@article) %>
    <%= link_to "Home", root_path %>
  </li>
</ul>
<img src="https://media.giphy.com/media/SUgOYsXqmexxe/giphy.gif" alt="">
